.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 368px;
	min-height: 924px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -63px;
}

#pu1755-3
{
	width: 0.01px;
	padding-bottom: 489px;
	left: -96px;
	position: relative;
}

#u1755-3
{
	z-index: 2;
	width: 560px;
	min-height: 451px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: -25px;
	left: -96px;
	background: transparent url("../images/homepage.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1756
{
	z-index: 171;
	width: 560px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: #F48563;
	position: fixed;
	top: -62px;
	left: 50%;
	margin-left: -280px;
}

#menuu1809
{
	z-index: 175;
	width: 360px;
	position: fixed;
	top: -49px;
	left: 50%;
	margin-left: -180px;
}

#u1817
{
	width: 70px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
}

#u1824
{
	width: 70px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 72px;
}

#u1831
{
	width: 70px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 144px;
}

#u1820,#u1825,#u1832
{
	width: 70px;
	position: relative;
}

#u1822-4,#u1828-4,#u1833-3
{
	width: 70px;
	min-height: 12px;
	color: #FFFFFF;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1838
{
	width: 71px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1810
{
	width: 71px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 289px;
}

#u1841,#u1813
{
	width: 71px;
	position: relative;
}

#u1843-4,#u1814-4
{
	width: 71px;
	min-height: 12px;
	color: #FFFFFF;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1782
{
	z-index: 173;
	width: 78px;
	position: fixed;
	top: -53px;
	left: 50%;
	margin-left: -39px;
}

#home
{
	margin-left: 169px;
	top: -489px;
	margin-bottom: -18px;
	position: relative;
}

#u1758-4
{
	z-index: 6;
	width: 360px;
	min-height: 32px;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	top: -363px;
	margin-bottom: -32px;
	position: relative;
}

#u1806
{
	z-index: 155;
	width: 234px;
	margin-left: 67px;
	top: -254px;
	margin-bottom: -58px;
	position: relative;
}

#pu1765
{
	width: 0.01px;
	margin-left: 28px;
	top: -130px;
	margin-bottom: -86px;
	position: relative;
}

#u1765
{
	z-index: 26;
	width: 86px;
	position: relative;
	margin-right: -10000px;
}

#u1767
{
	z-index: 28;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 113px;
}

#u1763
{
	z-index: 24;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#pu1757
{
	width: 0.01px;
	left: -96px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#u1757
{
	z-index: 5;
	width: 560px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1784
{
	z-index: 61;
	width: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 173px;
}

#u1784_img
{
	padding-bottom: 62px;
}

#story
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 265px;
}

#u1808-14
{
	z-index: 157;
	width: 305px;
	min-height: 273px;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 134px;
}

#u1777
{
	z-index: 44;
	width: 560px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	left: -96px;
	position: relative;
	background: #00FFFF url("../images/tira_001.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1777_position_content
{
	margin-bottom: 268px;
}

#market
{
	margin-left: 265px;
	position: relative;
}

#u1778-12
{
	z-index: 45;
	width: 360px;
	min-height: 174px;
	text-align: center;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 100px;
	margin-top: 20px;
	position: relative;
}

#u1808-2,#u1778
{
	color: #F48563;
}

#u1778-3,#u1778-5,#u1778-6,#u1778-8,#u1778-10
{
	color: #FFFFFF;
}

#pu1759-8
{
	width: 0.01px;
	left: -237px;
	position: relative;
}

#u1759-8
{
	z-index: 10;
	width: 560px;
	min-height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: #F29016;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u1759-4
{
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

#u1759-5
{
	font-size: 48px;
	line-height: 58px;
}

#u1759-6
{
	font-size: 48px;
	line-height: 58px;
	color: #000000;
}

#u1760
{
	z-index: 18;
	width: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 421px;
}

#u1762-4
{
	z-index: 20;
	width: 117px;
	min-height: 32px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: 291px;
}

#u1770-7
{
	z-index: 31;
	width: 360px;
	min-height: 76px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 241px;
}

#u1771
{
	z-index: 38;
	width: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 343px;
}

#u1773
{
	z-index: 40;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 437px;
}

#u1775
{
	z-index: 42;
	width: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 258px;
}

#u1781-3
{
	z-index: 58;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
}

#u1791-4
{
	z-index: 99;
	width: 207px;
	min-height: 32px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 214px;
}

#u1792-4
{
	z-index: 103;
	width: 207px;
	min-height: 32px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 317px;
}

#u1793-4
{
	z-index: 107;
	width: 207px;
	min-height: 32px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 435px;
}

#takeaway
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 410px;
}

#u1779
{
	z-index: 57;
	width: 750px;
	border-style: none;
	border-color: transparent;
	left: -191px;
	position: relative;
	background: transparent url("../images/tira_3_728r.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u1779_position_content
{
	margin-bottom: 9px;
}

#catering
{
	margin-left: 364px;
	position: relative;
}

#u1788-22
{
	z-index: 66;
	width: 342px;
	min-height: 247px;
	background-color: #FFFFFF;
	margin-left: 204px;
	margin-top: 205px;
	position: relative;
}

#u1788
{
	font-size: 17px;
	line-height: 19px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1788-3
{
	font-size: 12px;
	text-align: left;
	line-height: 13px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1788-6,#u1788-8,#u1788-13,#u1788-15
{
	font-size: 12px;
	text-align: left;
	line-height: 13px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1788-5,#u1788-10,#u1788-12,#u1788-17,#u1788-19
{
	font-size: 12px;
	text-align: left;
	line-height: 13px;
	padding-right: 15px;
	padding-left: 15px;
	color: #AF9B81;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#pu1769
{
	width: 0.01px;
	left: -23px;
	position: relative;
}

#u1769
{
	z-index: 30;
	width: 405px;
	height: 232px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/geremia%20kino%20banner-01-u1769-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#kino
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 196px;
}

#pu1786-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1786-3
{
	z-index: 63;
	width: 568px;
	min-height: 321px;
	border-style: none;
	border-color: transparent;
	background-color: #161414;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1789-10
{
	z-index: 88;
	width: 157px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 112px;
}

#u1789-7
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
}

#u1794-14
{
	z-index: 111;
	width: 168px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 112px;
}

#u1795-12
{
	z-index: 125;
	width: 140px;
	min-height: 93px;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 315px;
}

#u1796-9
{
	z-index: 137;
	width: 109px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 334px;
}

#u1796-3
{
	font-size: 14px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1796
{
	font-size: 12px;
	line-height: 14px;
}

#u1796-4
{
	font-size: 14px;
	text-align: left;
}

#u1789-2,#u1789-3,#u1789-4,#u1789-6,#u1794-2,#u1794-3,#u1794-5,#u1794-6,#u1794-8,#u1794-9,#u1794-11,#u1796-6
{
	font-size: 12px;
	text-align: left;
	line-height: 14px;
}

#u1789-8,#u1794-12,#u1796-7
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
}

#u1797
{
	z-index: 146;
	width: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 121px;
}

#u1797_img
{
	padding-bottom: 1px;
}

#u1799
{
	z-index: 148;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 395px;
}

#u1799_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#contacts
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 273px;
}

#page .verticalspacer
{
	clear: both;
}

