.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4393.579559633103px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -132px;
}

#u1209-3
{
	z-index: 48;
	width: 1160px;
	min-height: 700px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: -1px;
	left: -100px;
	background: transparent url("../images/homepage.jpg") no-repeat center center;
	background-size: cover !important;
}

#home
{
	margin-left: 469px;
	position: relative;
}

#menuu1067
{
	z-index: 107;
	width: 960px;
	position: fixed;
	top: 26px;
	left: 50%;
	margin-left: -480px;
}

#u1109
{
	width: 190px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1131
{
	width: 190px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u1138
{
	width: 190px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u1110,#u1134,#u1141
{
	width: 190px;
	position: relative;
}

#u1112-4,#u1136-4,#u1144-3
{
	width: 190px;
	min-height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1124
{
	width: 191px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u1117
{
	width: 191px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u1127,#u1120
{
	width: 191px;
	position: relative;
}

#u1129-4,#u1122-4
{
	width: 191px;
	min-height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1602-4
{
	z-index: 51;
	width: 606px;
	min-height: 32px;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 177px;
	margin-top: 108px;
	position: relative;
}

#u1603
{
	z-index: 208;
	width: 349px;
	margin-left: 305px;
	margin-top: 70px;
	position: relative;
}

#pu157
{
	width: 0.01px;
	padding-bottom: 70px;
	left: -100px;
	top: -23px;
	margin-bottom: -23px;
	position: relative;
}

#u157
{
	z-index: 103;
	width: 1160px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: #F48563;
	position: fixed;
	top: 302px;
	left: -100px;
}

#u997
{
	z-index: 137;
	width: 175px;
	position: fixed;
	top: 315px;
	left: 392px;
}

#pu1293
{
	width: 0.01px;
	margin-left: 210px;
	margin-top: 62px;
	position: relative;
}

#u1293
{
	z-index: 73;
	width: 155px;
	position: relative;
	margin-right: -10000px;
}

#u1300
{
	z-index: 71;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 192px;
}

#u1303
{
	z-index: 69;
	width: 155px;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#pu1191
{
	width: 0.01px;
	left: -100px;
	margin-top: 109px;
	position: relative;
}

#u1191
{
	z-index: 2;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 81px;
	position: relative;
	margin-right: -10000px;
}

#u1200
{
	z-index: 139;
	width: 562px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
}

#u1206-21
{
	z-index: 3;
	width: 409px;
	min-height: 236px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 598px;
}

#u1206-2
{
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #F48563;
}

#u1206-3,#u1206-5
{
	font-size: 18px;
	line-height: 22px;
	color: #F48563;
}

#u1206-6,#u1206-8,#u1206-10,#u1206-11,#u1206-13,#u1206-15,#u1206-16,#u1206-19
{
	font-size: 18px;
	line-height: 22px;
}

#u1205
{
	z-index: 141;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#story
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u150
{
	z-index: 89;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	background: #00FFFF url("../images/tira_001.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u150_position_content
{
	margin-bottom: 370px;
}

#market
{
	left: 569px;
	position: relative;
}

#u1495-12
{
	z-index: 90;
	width: 920px;
	min-height: 174px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 121px;
	margin-top: 30px;
	position: relative;
}

#u1495
{
	font-size: 38px;
	line-height: 46px;
	color: #F48563;
}

#u1495-6
{
	font-size: 43px;
	line-height: 52px;
	color: #FFFFFF;
}

#u1495-3,#u1495-5,#u1495-8,#u1495-10
{
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
}

#u1212-8
{
	z-index: 55;
	width: 1160px;
	min-height: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #F29016;
	position: relative;
	margin-right: -10000px;
}

#u1212-4
{
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

#u1212-5
{
	font-size: 48px;
	line-height: 58px;
}

#u1212-6
{
	font-size: 48px;
	line-height: 58px;
	color: #000000;
}

#u1529
{
	z-index: 63;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 559px;
	left: 580px;
}

#u1528-4
{
	z-index: 65;
	width: 117px;
	min-height: 32px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 445px;
}

#u1509-7
{
	z-index: 76;
	width: 833px;
	min-height: 76px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 164px;
}

#u1509-3
{
	font-size: 43px;
	line-height: 52px;
}

#u1509-2,#u1509-5
{
	font-size: 24px;
	line-height: 29px;
}

#u1504
{
	z-index: 83;
	width: 286px;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 117px;
}

#u1520
{
	z-index: 85;
	width: 289px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 757px;
}

#u1510
{
	z-index: 87;
	width: 295px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 432px;
}

#u1066-3
{
	z-index: 104;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 176px;
}

#u1525-4
{
	z-index: 156;
	width: 207px;
	min-height: 32px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 156px;
}

#u1526-4
{
	z-index: 160;
	width: 207px;
	min-height: 32px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 476px;
}

#u1527-4
{
	z-index: 164;
	width: 207px;
	min-height: 32px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 796px;
}

#pu1212-8,#pu2024
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u2024
{
	z-index: 24;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/tira_3_728r.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u1191_align_to_page,#u150_align_to_page,#u2024_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
}

#u1455-22
{
	z-index: 25;
	width: 407px;
	min-height: 422px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 611px;
}

#u1455
{
	font-size: 17px;
	line-height: 19px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1455-3
{
	font-size: 17px;
	text-align: left;
	line-height: 19px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1455-6,#u1455-8,#u1455-13,#u1455-15
{
	font-size: 17px;
	text-align: left;
	line-height: 19px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1455-5,#u1455-10,#u1455-12,#u1455-17,#u1455-19
{
	font-size: 17px;
	text-align: left;
	line-height: 19px;
	padding-right: 15px;
	padding-left: 15px;
	color: #AF9B81;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u2019
{
	z-index: 47;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	left: -101px;
	background: #FFFFFF url("../images/treviso-canale-dei-buranelli%20(1).jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u2019_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
	padding-bottom: 123px;
}

#treviso
{
	left: 570px;
	position: relative;
}

#u2055
{
	z-index: 211;
	width: 800px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 170px;
	margin-top: 105px;
	position: relative;
}

#u1539
{
	z-index: 75;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 681px;
	left: -101px;
	position: relative;
	background: #FFFFFF url("../images/geremia%20kino%20banner-01.jpg") no-repeat center center;
	background-size: cover !important;
}

#kino
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 570px;
}

#pu1334-3
{
	width: 0.01px;
	left: -101px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1334-3
{
	z-index: 142;
	width: 1160px;
	min-height: 201px;
	border-style: none;
	border-color: transparent;
	background-color: #161414;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1477-10
{
	z-index: 145;
	width: 155px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 120px;
}

#u1477-7
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
}

#u1546-11
{
	z-index: 168;
	width: 166px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 382px;
}

#u1547-11
{
	z-index: 179;
	width: 138px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 672px;
}

#u1548-9
{
	z-index: 190;
	width: 107px;
	min-height: 78px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 933px;
}

#u1477-2,#u1477-3,#u1477-4,#u1477-6,#u1546-2,#u1546-3,#u1546-5,#u1546-6,#u1546-8,#u1547-2,#u1547-3,#u1547-5,#u1547-6,#u1547-8,#u1548-3,#u1548-4,#u1548-6
{
	font-size: 14px;
	text-align: left;
}

#u1477-8,#u1546-9,#u1547-9,#u1548-7
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
}

#u1550
{
	z-index: 199;
	width: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 120px;
}

#u1550_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1555
{
	z-index: 201;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 933px;
}

#u1293_img,#u1555_img
{
	padding-bottom: 1px;
}

#takeaway,#catering,#contacts
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 569px;
}

#page .verticalspacer
{
	clear: both;
}

